font-family: 'Caveat Brush', cursive;
font-family: 'Viga', sans-serif;
body {
 padding:0;
 background:#FFF;
 color:#0F204B;
 text-rendering:optimizeLegibility;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
a {
 -webkit-transition:all 0.2s;
 transition:all 0.2s;
 color:#000;
 text-decoration:none
}
a:hover {
 color:#FFB612
}
ul {
 list-style-type:none;
 margin:20px 0 64px 0;
 padding:0
}
.container {
 margin:auto 0;
 padding:20px;
 box-sizing:border-box
}
.container .large {
 max-width:1300px;
 box-sizing:border-box;
 margin:auto
}
.container .small {
 margin:auto;
 max-width:760px;
 box-sizing:border-box
}
.column {
 box-sizing:border-box
}
.column .full {
 width:100%
}
.column .left {
 vertical-align:top;
 width:50%;
 display:inline-block;
 padding-right:30px;
 padding-left:200px;
 box-sizing:border-box
}
.column .left p {
 font-family:"Roboto";
 size: 24px;
}
.column .right {
 vertical-align:top;
 width:50%;
 display:inline-block;
 padding-right: 200px;
 padding-left:30px;
 padding-bottom: 40px;
 float: right;
 text-align: left;
}
.page-title {
 padding: 10;
 margin: 50;
}
.page-title h3 {
 padding:0;
 margin:0;
 display:inline-block;
 font-size:1em;
 margin-right:10px;
 font-weight:800;
 color: #FFB612;
}
.label {
 color:#0F204B;
 font-size:1.75em;
 text-transform:uppercase;
 font-family:"Righteous";
}
#homepage a:hover,#homepage h3 a:hover,#homepage h4 a:hover {
 color:#FFB612
}
.page-title {
 margin:80px 0 32px 0
}
.page-title h2 {
 font-weight:200
}
.subsection {
 margin-top:20px
}
.subsection li {
 margin:0 0 20px 0
}
.subsection .subtext {
 font-size:14px;
 font-family:"Roboto";
 margin:4px 0;
 left: 15%;
 position: relative;
 color: #a2a2a2;
}
.subsection .maintext {
 font-family: "Roboto";
 font-size:20px
 color:#0F204B
 font-style: bold;
 left: 15%;
 position: relative;
}
.subsection .link {
 font-size: 16px;
 font-family: "Roboto";
 position: relative;
 left: 15%;

}
.subsection .skill {
 font-family:"Roboto"
 position: center;
 left: 25%;
 color: #a2a2a2;
}
.alaska_angle {
 display:block;
 height:500px;
 width:100%;
 background-repeat:no-repeat;
 background-image:url(alaska_angle.png);
 background-position:right;
}
.rv_icon {
 background: url(icon2.png) no-repeat left; 
 background-size: contain; 
 height: 50px; 
 width: 100%; 
 position:relative;
}
.sights_icon {
 background: url(sights_icon.jpg) no-repeat left; 
 background-size: contain; 
 height: 50px; 
 width: 100%; 
 position:relative;
}
.poll_icon {
 background: url(poll_icon.svg) no-repeat left; 
 background-size: contain; 
 height: 50px; 
 width: 100%; 
 position:relative;
}
.full_map {
 display:block;
 background-size:cover;
 position:relative;
 background-repeat:no-repeat;
 background-image:url(fullmap.PNG);
 background-position:center
}
.footer {
}
.small img {
 width:100%;
 margin:0 auto;
 margin:20px 0 0 0
}
.large img {
 width:100%;
 margin:0 auto
}
.chat-bubble {
 display:block;
 width:628px;
 height:370px;
 background-repeat:no-repeat;
 position:relative;
 left:-260px;
 top:20px
}
video {
 margin:20px 0
}
.footer h3 a {
 font-family:"ArgentCF-DemiBold";
 font-size:1.4em
}
.footer h4 a {
 font-family:"ArgentCF-DemiBold";
 font-size:1.4em
}
.topbanner {
 background-image:url(alaska_angle.png);
 background-size: 100% 100%;
 position:relative;
 background-repeat:no-repeat;
 background-position:right;
}
@media screen and (max-width:768px) {
 .mobile-header-fix {
  position:relative;
  top:-60px;
  z-index:-1;
  width:100%;
  height:300px
 }
 .mobile-header-fix img {
  width:100%
 }
 .n1-first-paragraph {
  margin-top:-50px
 }
 .n2-front {
  margin:0;
  max-width:100%
 }
 .b1-container .container {
  padding:20px 20px 0 20px
 }
 .b1-container .b1-first-paragraph {
  margin:0
 }
 .alaska_angle {
  background-size:cover;
  height:150px;
  /*margin:-50px 0 20px 0 */
 }
 .chat-bubble {
  display:block;
  width:auto;
  height:auto;
  background-repeat:no-repeat;
  position:relative;
  left:0;
  top:0
 }
 .syllabus-image-1 {
  width:100%;
  position:relative;
  margin:0
 }
 .syllabus-image-2 {
  display:none
 }
 .syllabus-container {
  padding:100px 0
 }
 .syllabus-container .right {
  margin:0
 }
 .notebook {
  margin:0
 }
 #homepage .page-title {
  margin:32px 0 32px 0
 }
 #homepage .footer {
  margin:0
 }
 .sailboat {
  display:none
 }
 .column .left {
  width:100%;
  padding-right:0
 }
 .column .right {
  width:100%;
  padding-left:0
 }
}